#container {
margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
background-color: #E0FFFF;
  color: #FFB6C1;
  border: 1px solid #D6A800;
}

a {
color: #8FBC8F;
  text-decoration: none;
}

a:hover {
  color: #E0FFFF;
}

a:visited {
  color: #90EE90;
}
